<div class="listbox col-xs-10 col-xs-offset-1">
  <h1 class="text-center"><%= current_category.name %></h1>
  <div class="text-center">
    <!-- Button trigger modal -->
<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#SectionModal">
  Add Section
</button>
  </div>
  <ul>
    <% current_category.sections.each do |section| %>
    
    
      <li>
        
       <h3><%= section.name %></h3>
        
        <% end %>
        </li>
  <!-- Modal -->
<div class="modal fade" id="SectionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="SectionModalLabel">Add Section</h4>
      </div>
       <%= simple_form_for @section, url: category_sections_path(current_category) do |f| %>
        <div class="modal-body">
           <%= f.input :name %>
           <%= f.input :description %>
        </div>
        <div class="modal-footer">
          <%= f.submit "Add a section", class: 'btn btn-primary' %>
        </div>
        <% end %>
      
      
    </div>
  </div>
</div>
</div>
