<!DOCTYPE html>
<html>
<head>
  <title>LetsPairProgram</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <!--Load Bootstrap css-->
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
  <!--load font awesome-->
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <%= csrf_meta_tags %>
</head>
<body class="Site">
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "LPP", root_path, class: 'navbar-brand' %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      </ul>
      <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <li><%= link_to 'My Profile', user_path(current_user) %></li>
            <li><%=  link_to 'Sign out', destroy_user_session_path, method: :delete  %></li>
          <% else %>
            <li><%=  link_to 'Log in', new_user_session_path  %></li>
            <li><%=  link_to 'Sign Up', new_user_registration_path  %></li>
          <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<main class="Site-content">
  <% if notice.present? %>
  <p class="alert alert-info"><%= notice %></p>
  <% end %>

  <% if alert.present? %>
  <p class="alert alert-danger"><%= alert %></p>
  <% end %>

  <%= yield %>
</main>
  <div id="footer">
    <br />
    <div class="container-fluid flex-container">
        <div class="flex-item">
          <b><%= link_to 'ABOUT US', about_path %></b>
        </div>
        <div class="flex-item">
          <b><%= link_to 'CONTACT', contacts_path %></b>
        </div>
        <div class="flex-item">
          <b><%= link_to 'HOME', root_path %></b>
        </div>
        <div class="flex-item">
          <b><%= link_to 'PRESS', press_path %></b>
        </div>
        <div class="flex-item">
          <b><%= link_to 'TERMS & CONDITIONS', terms_path %></b>
        </div>
      </div>
      <hr class="line">
      <div class="container-fluid social flex-container">

        <a href="https://www.facebook.com/theFirehoseProject/?fref=ts"><i class="fa fa-lg fa-facebook flex-item"></i></a>
          <a href="https://plus.google.com/communities/114073605360096585795"><i class="fa fa-lg fa-google-plus flex-item"></i></a>
        <a href="https://twitter.com/search?q=thefirehoseproject&src=tyah"><i class="fa fa-lg fa-twitter flex-item"></i></a>
        <a href="https://github.com/FirehoseCommunity"><i class="fa fa-lg fa-github flex-item"></i></a>


      </div>
  </div>


</body>
</html>
